$nav-highlight-color : rgb(168, 200, 230);
$modal-fade-color : rgba(0,0,0,0.4);
$modal-content-bg-color : #bb8163;
$modal-content-border : 1px solid #d69134;
$about-bg-color: rgb(182, 181, 179);
$nav-padding: 10px;
$nav-animation-time: 1s;
